
body {
  background-image: url('landing\ page.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
p {
    font-family: sans-serif;
}

.topnav {
  background-color: #261210;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F2F2F2;
  color: black;
}

.topnav a.active {
  background-color: #4F7302;
  color: white;
}